<!--p>home works!</p-->
<section>
    <div class="main-div">
        <div class="moviesAdd">
            <button id="btnadd" class="btnadd btn btn-danger fa-solid fa-plus text-white" type="submit"> add</button>
            <form class="movieListForm" action="">
                <input type="text" class="txtbox" [placeholder]="plhdrMovie">
                &nbsp;&nbsp;&nbsp;<input type="text" class="txtbox" [placeholder]="plhdrYear">
                &nbsp;&nbsp;&nbsp;<button type="submit" class="btnaddmovie btn btn-warning fa-solid fa-user-plus" style="letter-spacing: 0.2vh;"> {{txtAddMovie}}</button>
            </form>
        </div>
        <div class="moviesSearch">
            <hr class="main-col-bar bg-success">
            <form class="movieSearchForm" action="">
                <h2>{{txtheading}}</h2>
                <input type="text" class="txtbox" name="moviename" id="moviename" [placeholder]="plhdrMovie">
                &nbsp;&nbsp;&nbsp;<input type="text" class="txtbox" name="movieyear" id="movieyear" [placeholder]="plhdrYear">
                &nbsp;&nbsp;&nbsp;<button class="btnsearch btn btn-warning fa-solid fa-magnifying-glass" type="submit" style="letter-spacing: 0.2vh;"> {{txtSearch}}</button>
            </form>
            <hr class="main-col-bar bg-success">
        </div>
    </div>
</section>