<!--p>signup works!</p-->
<section>
    <section class="main">
        <div class="sub-main">
            <form class="registerform" action="">
                <h1 class="header"><img class="imgstyle" [src]="imgangleptn" alt="Style Pattern"> {{appname}} <img class="imgstyle" [src]="imgangleptn" alt="Style Pattern"><h2 class="header2">{{txtsignup}}</h2></h1>
                <input class="txtusername" type="text" name="uname" id="uname" [placeholder]="plhduname">
                <br><br>
                <input class="txtpassword" type="password" name="pwd" id="pwd" [placeholder]="plhdpwd">
                <label class="form-checkbox form-check form-switch"><input class="cbxbox form-check-input" type="checkbox" checked="checked"><h3 class="text-h3">{{txtrembrme}}</h3></label>
                <button class="btnsubmit fa-solid fa-right-to-bracket" id="submit" type="submit" (click)='signupcheck("uname","pwd")'></button>
                <hr class="bar1">
                <h1 class="text-h1">{{txtor}}</h1>
                <hr class="bar2">
                <p style="margin-left: 4.2vh; font-size: 2.2vh;">Do you want to login?</p>
                <a [href]="pathlogin" style="text-decoration: none; color: white; text-align: center;"><h1 class="btnlogin btn fa-solid fa-user-plus"></h1></a>
            </form>
        </div>
    </section>
</section>